<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<body class="bg-light">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          
          <app-tabla-paises [countryList]='countryList' (eventoPaisSeleccionado)="seleccionPais($event)"></app-tabla-paises>

        </div>
        
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3" >Alta de Actor</h4>
          <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="alta()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" id="Nombre" formControlName="nombre">
                <small class="invalid" *ngIf="formGroup.get('nombre').errors?.required && formGroup.get('nombre').touched">El nombre es requerido</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Apellido">Apellido</label>
                <input type="text" class="form-control" id="Apellido" formControlName="apellido">
                <small class="invalid" *ngIf="formGroup.get('apellido').errors?.required && formGroup.get('apellido').touched">El apellido es requerido</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Email">Edad</label>
                <input type="text" class="form-control" id="Edad" formControlName="edad">
                <small class="invalid" *ngIf="formGroup.get('edad').errors?.required && formGroup.get('edad').touched">La edad es requerida</small>
                <small class="invalid" *ngIf="formGroup.get('edad').errors?.min || formGroup.get('edad').errors?.max && formGroup.get('edad').touched">La edad debe estar entre 3-100</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" formControlName="dni">
                <small class="invalid" *ngIf="formGroup.get('dni').errors?.required && formGroup.get('dni').touched">El DNI es requerido</small>
                <small class="invalid" *ngIf="formGroup.get('dni').errors?.min || formGroup.get('dni').errors?.max && formGroup.get('dni').touched">El DNI debe tener entre 8 y 9 números</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="capacidad">Capacidad de Transporte</label>
                <input type="number" class="form-control" id="capacidad" formControlName="capacidad">
                <small class="invalid" *ngIf="formGroup.get('capacidad').errors?.required && formGroup.get('capacidad').touched">La capacidad de transporte es requerida</small>
                <small class="invalid" *ngIf="formGroup.get('capacidad').errors?.min || formGroup.get('capacidad').errors?.max && formGroup.get('capacidad').touched">La capacidad debe ser entre 1 y 10 números</small>
              </div>
            </div>
            <h5 class="mb-3">¿Unidad propia?</h5>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
              <input id="radioSi"  type="radio" class="custom-control-input" formControlName="unidadPropia" value="Si" checked required >
              <label class="custom-control-label" for="radioSi">Si</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="radioNo" type="radio" class="custom-control-input" formControlName="unidadPropia"  required value="No">
              <label class="custom-control-label" for="radioNo">No</label>
            </div>
          
      </div>

            <div class="mb-3">
              <label for="Nacionalidad">Nacionalidad</label>
              <input type="text" class="form-control" id="Nacionalidad" formControlName="nacionalidad" readonly>
              <small class="invalid" *ngIf="formGroup.get('nacionalidad').errors?.required && formGroup.get('nacionalidad').touched">La nacionalidad es requerida</small>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="formGroup.invalid">Crear Actor</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
      </footer>
    </div>
  </body>