<h4 class="mb-3" >Alta de Actor</h4>
          <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="alta()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" id="Nombre" formControlName="nombre">
                <small class="invalid" *ngIf="formGroup.get('nombre').errors?.required && formGroup.get('nombre').touched">El nombre es requerido</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Apellido">Apellido</label>
                <input type="text" class="form-control" id="Apellido" formControlName="apellido">
                <small class="invalid" *ngIf="formGroup.get('apellido').errors?.required && formGroup.get('apellido').touched">El apellido es requerido</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Email">Edad</label>
                <input type="text" class="form-control" id="Edad" formControlName="edad">
                <small class="invalid" *ngIf="formGroup.get('edad').errors?.required && formGroup.get('edad').touched">La edad es requerida</small>
                <small class="invalid" *ngIf="formGroup.get('edad').errors?.min || formGroup.get('edad').errors?.max && formGroup.get('edad').touched">La edad debe estar entre 3-100</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" formControlName="dni">
                <small class="invalid" *ngIf="formGroup.get('dni').errors?.required && formGroup.get('dni').touched">El DNI es requerido</small>
                <small class="invalid" *ngIf="formGroup.get('dni').errors?.min || formGroup.get('dni').errors?.max && formGroup.get('dni').touched">El DNI debe tener entre 8 y 9 números</small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="capacidad">Capacidad de Transporte</label>
                <input type="number" class="form-control" id="capacidad" formControlName="capacidad">
                <small class="invalid" *ngIf="formGroup.get('capacidad').errors?.required && formGroup.get('capacidad').touched">La capacidad de transporte es requerida</small>
                <small class="invalid" *ngIf="formGroup.get('capacidad').errors?.min || formGroup.get('capacidad').errors?.max && formGroup.get('capacidad').touched">La capacidad debe ser entre 1 y 10 números</small>
              </div>
            </div>
            <h5 class="mb-3">¿Unidad propia?</h5>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
              <input id="radioSi"  type="radio" class="custom-control-input" formControlName="unidadPropia" value="Si" checked required >
              <label class="custom-control-label" for="radioSi">Si</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="radioNo" type="radio" class="custom-control-input" formControlName="unidadPropia"  required value="No">
              <label class="custom-control-label" for="radioNo">No</label>
            </div>
          
      </div>

            <div class="mb-3">
              <label for="Nacionalidad">Nacionalidad</label>
              <input type="text" class="form-control" id="Nacionalidad" formControlName="nacionalidad" readonly>
              <small class="invalid" *ngIf="formGroup.get('nacionalidad').errors?.required && formGroup.get('nacionalidad').touched">La nacionalidad es requerida</small>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="formGroup.invalid">Crear Actor</button>
          </form>